<div class="row">
    <div class="col-sm-6">
        <li ng-repeat="item in reviews">
            <a ui-sref="reviews.movies({ reviewId: item.id })">{{ item.title }}</a>
        </li>
    </div>

    <div class="col-sm-6">
        <div ui-view> <!-- ui view for main.html to display selected review --> </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <!-- empty column for spacing in second row -->
    </div>
    <div class="col-sm-6">
        <h3>Create New Movie Review</h3>
        <form ng-submit="addReview()" role="form">
            <input type="text" class="form-control" ng-model="newReviewTitle" placeholder="Review Title" required>
            <input type="text" class="form-control" ng-model="newReviewBody" placeholder="Review Body" required>
            <button class="btn btn-default" type="submit">Submit</button>
        </form>
    </div>
</div>
